# Environments (Local only)
.venv/
venv/
ENV/

# Playwright & Pytest Outputs
results/*
!results/.gitkeep
test-results/
playwright-report/
blob-report/
.pytest_cache/
.coverage
htmlcov/

# Python System Files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# IDE & OS Junk
.vscode/
.idea/
.DS_Store
Thumbs.db